

# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

# IDEs and editors
.vscode/
.idea/

# Environment variables
.env

# Build and distribution
build/
dist/
*.egg-info/

uploads/

# Static files
static/

# Log files
*.log

# Database
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints/
